# Byte-compiled
*~
*.pyc
*.pyo
__pycache__/

# Distribution
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg
py_hd_crypto_wallet-*/
.pypirc

# Unit test / Coverage reports
coverage.xml
htmlcov
.coverage
.coverage.*
.pytest_cache/
.tox/

# Environments
.idea
.env
.venv
env/
venv/
.vscode

# mypy
.mypy_cache/

# Ruff
.ruff_cache/
